	html{overflow-y:scroll;}
	
	body {
		font-family:arial;
		width:800px;
		padding:5px;
		border:0px;
		margin:auto;
		background-image:url('http://www.w3schools.com/images/gradientfromtop.gif');
		background-repeat:repeat-x;
		}
	#header {
		text-align:center;
		border:3px solid black;
		width:800px;
		height:50px;
		vertical-align:text-top;
		font-size:20px;
		}	
	#nav ul {
		margin:0;
		padding:0;
		list-style-type:none;
		float:left;
		}
	#nav ul li {
		display: inline;
		}
	#nav ul li a {
		display:block;
		background:#d9d9d9;
		width:200px;
		text-decoration:none;
		padding:4px;
		border-bottom:1px solid #eeeeee;
		border-top:1px solid #cccccc;
		border-left:5px solid #333333;
		color:#333333;
		}
	#nav ul li a:hover {
		border-left-color:#0099FF;
		color:#0066FF
		background:#c4c4c4;
		}